<h1>All Songs</h1>

<section class = "songs-grid">
  <% @songs.each do |song| %>
    <section id = "song-<%= song.id %>">
      <h2><%= song.title %></h2>
      <p>Play Count: <%= song.play_count %></p>
    </section>
  <% end %>
</section>
